



	
	
	/* basics */
	/* rounded corners */
	background-color: #808080;
	background-color:;
	color: navy;
	color: purple;
	color: purple;
	color: purple;
	display: inline-block;
	display: inline-block;
	float: left;
	float: right;
	font-family: "Comic Sans MS", cursive, sans-serif  ;
	font-family: "Comic Sans MS", cursive, sans-serif  ;
	font-size: 1em;
	font-size: 2em;
	font-style: italic;
	font-weight: bold   ;
	font-weight: bold;
	font-weight: bold; font-size: 1em;
	height: 300px;
	height: 500px;
	margin: 5 5 .5em 5;
	text-align: center;
	text-align: left;
	text-decoration: underline;
	width: 49%;
	width: 600px;
	width: 750px;
 	color: navy;
 	font-family: "Comic Sans MS", cursive, sans-serif  ;
 	font-size: 2em;
          border-radius: 8px; 
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
    -webkit-border-radius: 8px;
    ;
    background-color: lightgrey;
    background-color: rgb(215, 148, 213);
    border: 15px solid navy;
    color: yellow;
    font-family: "Comic Sans MS", cursive, sans-serif  ;
    margin: 25px;
    padding: 25px;
    text-align: left;
    text-align: left;
    vertical-align: text-top;
    vertical-align: text-top;
 p2 {
 }
 }
#box {
#channelsDiv {
#msgbox {
body {
border-radius: 3px;
border: 1px solid #CCC;
box-shadow: 1px 1px 5px #CCC;
button {
float :center;
font-color: purple;
font-family: Verdana;
font-size: 15px;
font-weight: 200;
h1 {font-size: 4em;
height: 200px;
p1 { 
padding: 8px;
textarea
width: 400px
{
}
}
}
}
}
}
}